main.to-do-wrapper {
  transition: all ease-in-out 0.5s;
}
main.to-do-wrapper .app-container {
  width: 40rem;
  margin: 8rem auto;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 0.7rem;
  box-shadow: black 4px 8px 0px 10px;
}
